In [73]:
import pandas as pd
import numpy as np

In [74]:
df = pd.read_csv("States Data/22_cleaned.csv")

In [75]:
df.columns

Index(['Unnamed: 0', 'Date', 'TN confirmed', 'TX confirmed', 'TN deaths',
       'TX deaths'],
      dtype='object')

In [76]:
df.drop('Unnamed: 0', axis=1, inplace=True)

In [77]:
df.head(5)

         Date  TN confirmed  TX confirmed  TN deaths  TX deaths
0  2020-01-22           0.0           0.0        0.0        0.0
1  2020-01-23           0.0           0.0        0.0        0.0
2  2020-01-24           0.0           0.0        0.0        0.0
3  2020-01-25           0.0           0.0        0.0        0.0
4  2020-01-26           0.0           0.0        0.0        0.0

In [78]:
#Wald's Test

In [79]:
feb_month_data = df[(df['Date'] >= '2021-02-01') & (df['Date'] <= '2021-02-28')]

In [80]:
feb_month_data.shape

(21, 5)

In [81]:
march_month_data = df[(df['Date'] >= '2021-03-01') & (df['Date'] <= '2021-03-31')]

In [82]:
march_month_data.shape

(31, 5)

In [83]:
#State 1 : TN
feb_month_mean_death_TN = feb_month_data['TN deaths'].mean()
feb_month_mean_cases_TN = feb_month_data['TN confirmed'].mean()

march_month_mean_death_TN = march_month_data['TN deaths'].mean()
march_month_mean_cases_TN = march_month_data['TN confirmed'].mean()

print("TN State Feb Death Mean : " + str(feb_month_mean_death_TN))
print("TN State Feb No of Cases Mean : " + str(feb_month_mean_cases_TN))
print("TN State March Death Mean : " + str(march_month_mean_death_TN))
print("TN State March No of Cases Mean : " + str(march_month_mean_cases_TN))

TN State Feb Death Mean : 38.23809523809524
TN State Feb No of Cases Mean : 1483.2857142857142
TN State March Death Mean : 15.709677419354838
TN State March No of Cases Mean : 1187.4193548387098

In [84]:
#State 2 : TX
feb_month_mean_death_TX = feb_month_data['TX deaths'].mean()
feb_month_mean_cases_TX = feb_month_data['TX confirmed'].mean()

march_month_mean_death_TX = march_month_data['TX deaths'].mean()
march_month_mean_cases_TX = march_month_data['TX confirmed'].mean()

print("TX State Feb Death Mean : " + str(feb_month_mean_death_TX))
print("TX State Feb No of Cases Mean : " + str(feb_month_mean_cases_TX))
print("TX State March Death Mean : " + str(march_month_mean_death_TX))
print("TX State March No of Cases Mean : " + str(march_month_mean_cases_TX))

TX State Feb Death Mean : 207.85714285714286
TX State Feb No of Cases Mean : 7725.857142857143
TX State March Death Mean : 139.96774193548387
TX State March No of Cases Mean : 4377.129032258064

In [85]:
def walds_one_testing(march_data_mean,feb_data_mean,march_data):
    # Computing the test statistic W = (theta_hat - guess) / se_hat(theta_hat) = (theta_hat - guess) / (root(lambda_MLE / n)) 
    guess = feb_data_mean
    theta_hat = march_data_mean  # Since for Poisson-distributed data, MLE estimator is lamda_hat which is equal to sample mean
    n = len(march_data)
    num = theta_hat - guess
    den = np.sqrt(march_data_mean / float(n))
    w_stats = num / den
    return np.abs(w_stats);

In [86]:
#Walds Test Result for State : TN
print("___Walds Test Result for State : TN___")
print()

#Category : Death
walds_one_result_death_TN = walds_one_testing(march_month_mean_death_TN,feb_month_mean_death_TN,march_month_data)
print("Walds one test Result of State TN under death category is : " + str(walds_one_result_death_TN))
if(walds_one_result_death_TN>1.96):
    print("walds 1 sample testing for mean of death is w="+str(walds_one_result_death_TN) +" which is greater than z_alpha/2 = 1.96 so reject the NULL hypothesis")
else:
    print("walds 1 sample testing for mean of death is  w="+str(walds_one_result_death_TN)+ " which is less than z_alpha/2 = 1.96 so accept the NULL hypothesis")

print()

#Category : Cases
walds_one_result_cases_TN = walds_one_testing(march_month_mean_cases_TN,feb_month_mean_cases_TN,march_month_data)
print("Walds one test Result of State TN under Cases category is : " + str(walds_one_result_cases_TN))
if(walds_one_result_cases_TN>1.96):
    print("walds 1 sample testing for mean of cases is w="+str(walds_one_result_cases_TN) +" which is greater than z_alpha/2 = 1.96 so reject the NULL hypothesis");
else:
    print("walds 1 sample testing for mean of cases is  w="+str(walds_one_result_cases_TN)+ " which is less than z_alpha/2 = 1.96 so accept the NULL hypothesis")

___Walds Test Result for State : TN___

Walds one test Result of State TN under death category is : 31.646661759343917
walds 1 sample testing for mean of death is w=31.646661759343917 which is greater than z_alpha/2 = 1.96 so reject the NULL hypothesis

Walds one test Result of State TN under Cases category is : 47.805115629869654
walds 1 sample testing for mean of cases is w=47.805115629869654 which is greater than z_alpha/2 = 1.96 so reject the NULL hypothesis

In [87]:
#Walds Test Result for State : TX
print("___Walds Test Result for State : TX___")
print()

#Category : Death
walds_one_result_death_TX = walds_one_testing(march_month_mean_death_TX,feb_month_mean_death_TX,march_month_data)
print("Walds one test Result of State TN under death category is : " + str(walds_one_result_death_TX))
if(walds_one_result_death_TX > 1.962):
    print("walds 1 sample testing for mean of death is w = " +str(walds_one_result_death_TX) +  " which is greater than z_alpha/2 = 1.962 so reject the NULL hypothesis")
else:
    print("walds 1 sample testing for mean of death is  w = " +str(walds_one_result_death_TX) + " which is less than z_alpha/2 = 1.962 so accept the NULL hypothesis")

print()

#Category : Cases
walds_one_result_cases_TX = walds_one_testing(march_month_mean_cases_TX,feb_month_mean_cases_TX,march_month_data)
print("Walds one test Result of State TN under Cases category is : " + str(walds_one_result_cases_TX))
if(walds_one_result_cases_TX > 1.962):
    print("walds 1 sample testing for mean of cases is w="+str(walds_one_result_cases_TX) +" which is greater than z_alpha/2 = 1.962 so reject the NULL hypothesis");
else:
    print("walds 1 sample testing for mean of cases is  w="+str(walds_one_result_cases_TX)+ " which is less than z_alpha/2 = 1.962 so accept the NULL hypothesis")

___Walds Test Result for State : TX___

Walds one test Result of State TN under death category is : 31.949851585786913
walds 1 sample testing for mean of death is w = 31.949851585786913 which is greater than z_alpha/2 = 1.962 so reject the NULL hypothesis

Walds one test Result of State TN under Cases category is : 281.8162684575669
walds 1 sample testing for mean of cases is w=281.8162684575669 which is greater than z_alpha/2 = 1.962 so reject the NULL hypothesis

In [88]:
#Z Test

def compute_corrected_std(data):
    sum = 0
    x_bar = data.mean()
    n = len(data)
    for x in data:
        sum = sum + (np.square((x-x_bar)))
    return np.sqrt(sum/(n-1))

In [89]:
def z_testing(march_data_mean,feb_data_mean,total_data):
    # Computing the z statistic z = (x_bar - guess) / (corrected_std / root of (n))
    guess = feb_data_mean
    x_bar = march_data_mean
    corrected_std = compute_corrected_std(total_data)
    num = (x_bar - guess)
    den = corrected_std / np.sqrt(len(total_data))
    z_stats = num / den
    return np.abs(z_stats);

In [90]:
#Z Test Result for State : TN
print("___Z Test Result for State : TN___")
print()

#Category : Death
z_test_result_death_TN = z_testing(march_month_mean_death_TN,feb_month_mean_death_TN,df[['TN deaths']].values)
print("Z test Result of State TN under death category is : " + str(z_test_result_death_TN))
if(z_test_result_death_TN > 1.962):
    print("Z test Result is Z =" + str(z_test_result_death_TN) + " which is greater than z_alpha/2 = 1.962 so reject the NULL hypothesis")
else:
    print("Z test Result is Z =" + str(z_test_result_death_TN) + " which is less than z_alpha/2 = 1.962 so accept the NULL hypothesis")

print()

#Category : Cases
z_test_result_cases_TN = z_testing(march_month_mean_cases_TN,feb_month_mean_cases_TN,df[['TN confirmed']].values)
print("Z test Result of State TN under Cases category is : " + str(z_test_result_cases_TN))
if(z_test_result_cases_TN > 1.962):
    print("Z test Result is Z =" + str(z_test_result_cases_TN) + " which is greater than z_alpha/2 = 1.962 so reject the NULL hypothesis");
else:
    print("Z test Result is Z =" + str(z_test_result_cases_TN) + " which is less than z_alpha/2 = 1.962 so accept the NULL hypothesis")

___Z Test Result for State : TN___

Z test Result of State TN under death category is : [22.68600767]
Z test Result is Z =[22.68600767] which is greater than z_alpha/2 = 1.962 so reject the NULL hypothesis

Z test Result of State TN under Cases category is : [5.02387053]
Z test Result is Z =[5.02387053] which is greater than z_alpha/2 = 1.962 so reject the NULL hypothesis

In [91]:
#Z Test Result for State : TX
print("___Z Test Result for State : TX___")
print()

#Category : Death
z_test_result_death_TX = z_testing(march_month_mean_death_TX,feb_month_mean_death_TX,df[['TX deaths']].values)
print("Z test Result of State TX under death category is : " + str(z_test_result_death_TX))
if(z_test_result_death_TX > 1.962):
    print("Z test Result is Z =" + str(z_test_result_death_TX) + " which is greater than z_alpha/2 = 1.962 so reject the NULL hypothesis")
else:
    print("Z test Result is Z =" + str(z_test_result_death_TX) + " which is less than z_alpha/2 = 1.962 so accept the NULL hypothesis")

print()

#Category : Cases
z_test_result_cases_TX = z_testing(march_month_mean_cases_TX,feb_month_mean_cases_TX,df[['TX confirmed']].values)
print("Z test Result of State TX under Cases category is : " + str(z_test_result_cases_TX))
if(z_test_result_cases_TX > 1.962):
    print("Z test Result is Z =" + str(z_test_result_cases_TX) + " which is greater than z_alpha/2 = 1.962 so reject the NULL hypothesis");
else:
    print("Z test Result is Z =" + str(z_test_result_cases_TX) + " which is less than z_alpha/2 = 1.962 so accept the NULL hypothesis")

___Z Test Result for State : TX___

Z test Result of State TX under death category is : [14.4950297]
Z test Result is Z =[14.4950297] which is greater than z_alpha/2 = 1.962 so reject the NULL hypothesis

Z test Result of State TX under Cases category is : [15.96537287]
Z test Result is Z =[15.96537287] which is greater than z_alpha/2 = 1.962 so reject the NULL hypothesis

In [92]:
#One Sample T test
def t_one_testing(march_data_mean,feb_data_mean,march_data):
    # Computing t statistic = (x_bar - guess) / (corrected_std / root of (n))
    guess = feb_data_mean
    x_bar = march_data_mean
    corrected_std = compute_corrected_std(march_data)
    num = (x_bar - guess)
    den = corrected_std / np.sqrt(len(march_data))
    t_stats = num / den
    return np.abs(t_stats);

In [93]:
#One Sample T Test Result for State : TN
print("___One Sample T Test Result for State : TN___")
print()

#Category : Death
t_one_test_result_death_TN = t_one_testing(march_month_mean_death_TN,feb_month_mean_death_TN,march_month_data[['TN deaths']].values)
print("One Sample T Test Result of State TN under death category is : " + str(t_one_test_result_death_TN))
if(t_one_test_result_death_TN > 2.042):
    print("One Sample T Test Result is T =" + str(t_one_test_result_death_TN) + " which is greater than t(30,0.025) = 2.042 so reject the NULL hypothesis")
else:
    print("One Sample T Test Result is T =" + str(t_one_test_result_death_TN) + " which is less than t(30,0.025) = 2.042 so accept the NULL hypothesis")

print()

#Category : Cases
t_one_test_result_cases_TN = t_one_testing(march_month_mean_cases_TN,feb_month_mean_cases_TN,march_month_data[['TN confirmed']].values)
print("One Sample T Test Result of State TN under Cases category is : " + str(t_one_test_result_cases_TN))
if(t_one_test_result_cases_TN > 2.042):
    print("One Sample T Test Result is T =" + str(t_one_test_result_cases_TN) + " which is greater than t(30,0.025) = 2.042 so reject the NULL hypothesis");
else:
    print("One Sample T Test Result is T =" + str(t_one_test_result_cases_TN) + " which is less than t(30,0.025) = 2.042 so accept the NULL hypothesis")

___One Sample T Test Result for State : TN___

One Sample T Test Result of State TN under death category is : [9.16571475]
One Sample T Test Result is T =[9.16571475] which is greater than t(30,0.025) = 2.042 so reject the NULL hypothesis

One Sample T Test Result of State TN under Cases category is : [1.91472211]
One Sample T Test Result is T =[1.91472211] which is less than t(30,0.025) = 2.042 so accept the NULL hypothesis

In [94]:
#One Sample T Test Result for State : TX
print("___One Sample T Test Result for State : TX___")
print()

#Category : Death
t_one_test_result_death_TX = t_one_testing(march_month_mean_death_TX,feb_month_mean_death_TX,march_month_data[['TX deaths']].values)
print("One Sample T Test Result of State TN under death category is : " + str(t_one_test_result_death_TX))
if(t_one_test_result_death_TX > 2.042):
    print("One Sample T Test Result is T =" + str(t_one_test_result_death_TX) + " which is greater than t(30,0.025) = 2.042 so reject the NULL hypothesis")
else:
    print("One Sample T Test Result is T =" + str(t_one_test_result_death_TX) + " which is less than t(30,0.025) = 2.042 so accept the NULL hypothesis")

print()

#Category : Cases
t_one_test_result_cases_TX = t_one_testing(march_month_mean_cases_TX,feb_month_mean_cases_TX,march_month_data[['TX confirmed']].values)
print("One Sample T Test Result of State TN under Cases category is : " + str(t_one_test_result_cases_TX))
if(t_one_test_result_cases_TX > 2.042):
    print("One Sample T Test Result is T =" + str(t_one_test_result_cases_TX) + " which is greater than t(30,0.025) = 2.042 so reject the NULL hypothesis");
else:
    print("One Sample T Test Result is T =" + str(t_one_test_result_cases_TX) + " which is less than t(30,0.025) = 2.042 so accept the NULL hypothesis")

___One Sample T Test Result for State : TX___

One Sample T Test Result of State TN under death category is : [4.38835132]
One Sample T Test Result is T =[4.38835132] which is greater than t(30,0.025) = 2.042 so reject the NULL hypothesis

One Sample T Test Result of State TN under Cases category is : [9.807289]
One Sample T Test Result is T =[9.807289] which is greater than t(30,0.025) = 2.042 so reject the NULL hypothesis

In [95]:
##Two sample Walds test
def walds_two_sample_testing(march_data_mean,feb_data_mean,march_data,feb_data):
    mu_y = feb_data_mean
    mu_x = march_data_mean
    std_error = np.sqrt((march_data_mean / len(march_data)) + (feb_data_mean / len(feb_data))) 
    num = mu_x - mu_y
    w_two_sample_stats = num / std_error
    return np.abs(w_two_sample_stats)

In [96]:
#Walds Two Sample Test Result for State : TN
print("___Walds Two Sample Test Result for State : TN___")
print()

#Category : Death
walds_two_result_death_TN = walds_two_sample_testing(march_month_mean_death_TN,feb_month_mean_death_TN,march_month_data,feb_month_data)
print("Walds Two Sample Test Result of State TN under death category is : " + str(walds_two_result_death_TN))
if(walds_two_result_death_TN > 1.962):
    print("Walds Two Sample Test Result for mean of death is w = "+str(walds_two_result_death_TN) +" which is greater than z_alpha/2 = 1.962 so reject the NULL hypothesis")
else:
    print("Walds Two Sample Test Result for mean of death is  w = "+str(walds_two_result_death_TN)+ " which is less than z_alpha/2 = 1.962 so accept the NULL hypothesis")

print()

#Category : Cases
walds_two_result_cases_TN = walds_two_sample_testing(march_month_mean_cases_TN,feb_month_mean_cases_TN,march_month_data,feb_month_data)
print("Walds Two Sample Test Result of State TN under Cases category is : " + str(walds_two_result_cases_TN))
if(walds_two_result_cases_TN > 1.962):
    print("Walds Two Sample Test Result for mean of cases is w = "+str(walds_two_result_cases_TN) +" which is greater than z_alpha/2 = 1.962 so reject the NULL hypothesis");
else:
    print("Walds Two Sample Test Result for mean of cases is  w = " +str(walds_two_result_cases_TN)+ " which is less than z_alpha/2 = 1.962 so accept the NULL hypothesis")

___Walds Two Sample Test Result for State : TN___

Walds Two Sample Test Result of State TN under death category is : 14.766383456665165
Walds Two Sample Test Result for mean of death is w = 14.766383456665165 which is greater than z_alpha/2 = 1.962 so reject the NULL hypothesis

Walds Two Sample Test Result of State TN under Cases category is : 28.34711545617562
Walds Two Sample Test Result for mean of cases is w = 28.34711545617562 which is greater than z_alpha/2 = 1.962 so reject the NULL hypothesis

In [99]:
#Walds Two Sample Test Result for State : TX
print("___Walds Two Sample Test Result for State : TX___")
print()

#Category : Death
walds_two_result_death_TX = walds_two_sample_testing(march_month_mean_death_TX,feb_month_mean_death_TX,march_month_data,feb_month_data)
print("Walds Two Sample Test Result of State TX under death category is : " + str(walds_two_result_death_TX))
if(walds_two_result_death_TX > 1.962):
    print("Walds Two Sample Test Result for mean of death is w = "+str(walds_two_result_death_TX) +" which is greater than z_alpha/2 = 1.962 so reject the NULL hypothesis")
else:
    print("Walds Two Sample Test Result for mean of death is  w = "+str(walds_two_result_death_TX)+ " which is less than z_alpha/2 = 1.962 so accept the NULL hypothesis")

print()

#Category : Cases
walds_two_result_cases_TX = walds_two_sample_testing(march_month_mean_cases_TX,feb_month_mean_cases_TX,march_month_data,feb_month_data)
print("Walds Two Sample Test Result of State TX under Cases category is : " + str(walds_two_result_cases_TX))
if(walds_two_result_cases_TX > 1.962):
    print("Walds Two Sample Test Result for mean of cases is w = " +str(walds_two_result_cases_TX) +" which is greater than z_alpha/2 = 1.962 so reject the NULL hypothesis");
else:
    print("Walds Two Sample Test Result for mean of cases is  w = " +str(walds_two_result_cases_TX)+ " which is less than z_alpha/2 = 1.962 so accept the NULL hypothesis")

___Walds Two Sample Test Result for State : TX___

Walds Two Sample Test Result of State TX under death category is : 17.88232836525732
Walds Two Sample Test Result for mean of death is w = 17.88232836525732 which is greater than z_alpha/2 = 1.962 so reject the NULL hypothesis

Walds Two Sample Test Result of State TX under Cases category is : 148.41581668839095
Walds Two Sample Test Result for mean of cases is w = 148.41581668839095 which is greater than z_alpha/2 = 1.962 so reject the NULL hypothesis

In [102]:
#Two Sample t unpaired testing:
def unpaired_t_test_two_sample_testing(march_data_mean,feb_data_mean,march_data,feb_data):
    y_bar = feb_data_mean
    x_bar = march_data_mean
    d_bar = x_bar - y_bar
    # For unpaired t-test, we use the pooled standard deviation
    x_var = np.square(compute_corrected_std(march_data))
    y_var = np.square(compute_corrected_std(feb_data))
    std_dev = np.sqrt((x_var / len(march_data)) + (y_var / len(feb_data)))
    t_stats_unpaired = d_bar / std_dev
    return abs(t_stats_unpaired)

In [104]:
#Two Sample t unpaired Test Result for State : TN
print("___Two Sample t unpaired Test Result for State : TN___")
print()

#Category : Death
t_two_unpaired_test_result_death_TN = unpaired_t_test_two_sample_testing(march_month_mean_death_TN,feb_month_mean_death_TN,march_month_data[['TN deaths']].values,feb_month_data[['TN deaths']].values)
print("Two Sample t unpaired Test Result of State TN under death category is : " + str(t_two_unpaired_test_result_death_TN))
if(t_two_unpaired_test_result_death_TN > 2.01):
    print("Two Sample t unpaired Test Result is T =" + str(t_two_unpaired_test_result_death_TN) + " which is greater than t(50,0.025) = 2.01 so reject the NULL hypothesis")
else:
    print("Two Sample t unpaired Test Result is T =" + str(t_two_unpaired_test_result_death_TN) + " which is less than t(50,0.025) = 2.01 so accept the NULL hypothesis")

print()

#Category : Cases
t_two_unpaired_test_result_cases_TN= unpaired_t_test_two_sample_testing(march_month_mean_cases_TN,feb_month_mean_cases_TN,march_month_data[['TN confirmed']].values,feb_month_data[['TN confirmed']].values)
print("Two Sample t unpaired Test Result of State TN under Cases category is : " + str(t_two_unpaired_test_result_cases_TN))
if(t_two_unpaired_test_result_cases_TN > 2.01):
    print("Two Sample t unpaired Test Result is T =" + str(t_two_unpaired_test_result_cases_TN) + " which is greater than t(50,0.025) = 2.01 so reject the NULL hypothesis");
else:
    print("Two Sample t unpaired Test Result is T =" + str(t_two_unpaired_test_result_cases_TN) + " which is less than t(50,0.025) = 2.01 so accept the NULL hypothesis")

___Two Sample t unpaired Test Result for State : TN___

Two Sample t unpaired Test Result of State TN under death category is : [3.55075078]
Two Sample t unpaired Test Result is T =[3.55075078] which is greater than t(50,0.025) = 2.01 so reject the NULL hypothesis

Two Sample t unpaired Test Result of State TN under Cases category is : [1.49354506]
Two Sample t unpaired Test Result is T =[1.49354506] which is less than t(50,0.025) = 2.01 so accept the NULL hypothesis

In [105]:
#Two Sample t unpaired Test Result for State : TX
print("___Two Sample t unpaired Test Result for State : TX___")
print()

#Category : Death
t_two_unpaired_test_result_death_TX = unpaired_t_test_two_sample_testing(march_month_mean_death_TX,feb_month_mean_death_TX,march_month_data[['TX deaths']].values,feb_month_data[['TX deaths']].values)
print("Two Sample t unpaired Test Result of State TX under death category is : " + str(t_two_unpaired_test_result_death_TX))
if(t_two_unpaired_test_result_death_TX > 2.01):
    print("Two Sample t unpaired Test Result is T =" + str(t_two_unpaired_test_result_death_TX) + " which is greater than t(50,0.025) = 2.01 so reject the NULL hypothesis")
else:
    print("Two Sample t unpaired Test Result is T =" + str(t_two_unpaired_test_result_death_TX) + " which is less than t(50,0.025) = 2.01 so accept the NULL hypothesis")

print()

#Category : Cases
t_two_unpaired_test_result_cases_TX = unpaired_t_test_two_sample_testing(march_month_mean_cases_TX,feb_month_mean_cases_TX,march_month_data[['TX confirmed']].values,feb_month_data[['TX confirmed']].values)
print("Two Sample t unpaired Test Result of State TN under Cases category is : " + str(t_two_unpaired_test_result_cases_TX))
if(t_two_unpaired_test_result_cases_TX > 2.01):
    print("Two Sample t unpaired Test Result is T =" + str(t_two_unpaired_test_result_cases_TX) + " which is greater than t(50,0.025) = 2.01 so reject the NULL hypothesis");
else:
    print("Two Sample t unpaired Test Result is T =" + str(t_two_unpaired_test_result_cases_TX) + " which is less than t(50,0.025) = 2.01 so accept the NULL hypothesis")

___Two Sample t unpaired Test Result for State : TX___

Two Sample t unpaired Test Result of State TX under death category is : [2.44514278]
Two Sample t unpaired Test Result is T =[2.44514278] which is greater than t(50,0.025) = 2.01 so reject the NULL hypothesis

Two Sample t unpaired Test Result of State TN under Cases category is : [3.73003452]
Two Sample t unpaired Test Result is T =[3.73003452] which is greater than t(50,0.025) = 2.01 so reject the NULL hypothesis