In [2]:
import pandas as pd

In [3]:
states_df = pd.read_csv("States Data/22.csv")
states_df.head()

         Date  TN confirmed  TX confirmed  TN deaths  TX deaths
0  2020-01-22             0             0          0          0
1  2020-01-23             0             0          0          0
2  2020-01-24             0             0          0          0
3  2020-01-25             0             0          0          0
4  2020-01-26             0             0          0          0

In [12]:
Q1 = states_df.quantile(0.25)
Q3 = states_df.quantile(0.75)
IQR = Q3 - Q1

print(Q1 - 1.5 * IQR)
print(Q3 + 1.5 * IQR)

TN confirmed    -668412.125
TX confirmed   -1951774.375
TN deaths         -7778.500
TX deaths        -33390.750
dtype: float64
TN confirmed    1154346.875
TX confirmed    3357202.625
TN deaths         13617.500
TX deaths         58557.250
dtype: float64

In [7]:
states_df.shape

(438, 5)

In [8]:
states_df_out = states_df[~((states_df < (Q1 - 1.5 * IQR)) |(states_df > (Q3 + 1.5 * IQR))).any(axis=1)]
states_df_out.shape

(438, 5)

In [11]:
states_df_out.to_csv("States Data/22_cleaned.csv")